##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

[Unit]
Description=Jenkins Agent: {{ install_jenkins_agent_name }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ install_jenkins_agent_user }}
Group={{ install_jenkins_agent_group }}
Type=simple
Restart=always
WorkingDirectory={{ install_jenkins_agent_home }}
ExecStart=&1<2 < java -jar {{ install_jenkins_agent_home }}/agent.jar \
    -agentLog {{ install_jenkins_agent_log_path }}/agent.log
    -url "{{ install_jenkins_agent_master_remote }}/" \
    -secret "{{ install_jenkins_agent_secret }}" \
    -workDir "{{ install_jenkins_agent_home }}"
{% if install_jenkins_agent_ca | default(false) %}
    -cert {{ install_jenkins_agent_ca }} \
{% endif %}
    -noCertificateCheck {{ not (install_jenkins_agent_https_check | default(false)) }} \
{% if install_jenkins_agent_basic_auth | default(false) %}
    -credentials {{ install_jenkins_agent_basic_auth }} \
{% endif %}
    -name "{{ install_jenkins_agent_name }}"

[Install]
WantedBy=multi-user.target
