##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

#!/bin/bash

cd {{ install_jenkins_agent___home }}
curl -sO {{ install_jenkins_agent___jar }}

java -jar ./agent.jar \
-agentLog "{{ install_jenkins_agent___log_path }}/agent.log" \
-url "{{ install_jenkins_agent___master_remote }}" \
-secret "{{ install_jenkins_agent___secret }}" \
-workDir "{{ install_jenkins_agent___home }}" \
{% if install_jenkins_agent___ca | default(false) %}
-cert {{ install_jenkins_agent___ca }} \
{% endif %}
{% if install_jenkins_agent___basic_auth | default(false) %}
-credentials {{ install_jenkins_agent___basic_auth }} \
{% endif %}
-name "{{ install_jenkins_agent___name }}"

exit 0
