##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

[Unit]
Description=Jenkins Agent: {{ install_jenkins__agent_name }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ install_jenkins__agent_user }}
Group={{ install_jenkins__agent_user }}
Type=simple
Restart=always
WorkingDirectory={{ install_jenkins__agent_home }}
ExecStart=/bin/bash {{ install_jenkins__agent_home }}/jenkins-start-agent.sh

[Install]
WantedBy=multi-user.target
