##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

[Unit]
Description=Jenkins Agent: {{ install_jenkins_agent__name }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ install_jenkins_agent__user }}
Group={{ install_jenkins_agent__user }}
Type=simple
Restart=always
WorkingDirectory={{ install_jenkins_agent__home }}
ExecStart=/bin/bash {{ install_jenkins_agent__home }}/jenkins-start-agent.sh

[Install]
WantedBy=multi-user.target
